// color
// ----------------------------------------*/
$white: var(--c-white);
$black: var(--c-black);
$primary: var(--c-primary);
$secondary: var(--c-secondary);

// easing
// ----------------------------------------*/
$easingDefault: cubic-bezier(0, 1, 0.7, 1);

// other
// ----------------------------------------*/
$baseSpacing: var(--base-spacing);